@charset "UTF-8";
a,
button {
  margin: 0;
  padding: 0;
  display: inline-block;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin-bottom: 0;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
}

.card-set-item {
  flex-basis: calc((100% - (var(--card-item) - 1) * var(--card-gap)) / var(--card-item));
}

/*  Синий цвет #2196F3 */
/*  Цвет золовка #FFFFFF */
/* Основной цвет текста #757575 */
/*  Вторичный цвет текста #212121 */
/*  Цвет адреса в Подвале rgba(255, 255, 255, 0.6) */
/* Цвет фона команда #F5F4FA */
/* фон героя и вутера #2F303A */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-hover-button-ptimary: #188ce8;
  --background-heder: #fff;
  --background-main: #e5e5e5;
  --background-footer: #2f303a;
  --card-gap: 30px;
  --card-item: 3;
}

.header {
  background-color: var(--background-heder);
  border-bottom: 1px solid #ececec;
}

.container-header {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
}
.nav__page {
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
}
.nav-link__accent {
  position: relative;
}
.nav-link__accent::after {
  position: absolute;
  bottom: -3px;
  opacity: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.nav-link__accent.current::after {
  opacity: 1;
}

.contacts {
  display: flex;
}
.contacts__item:not(:last-child) {
  margin-right: 30px;
}
.contacts--indent {
  margin-left: auto;
}
.contacts__link {
  display: flex;
  align-items: center;
}
.contacts__link--indent {
  margin-right: auto;
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  margin: 0 auto;
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpeg);
  background-position: center;
  background-size: 1600px 600px;
  background-repeat: no-repeat;
}

.peculiarities {
  padding-top: 94px;
}
.peculiarities__item {
  --card-item: 4;
}
.peculiarities__img {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.peculiarities__img--indent {
  margin-bottom: 30px;
}
.peculiarities__text {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.peculiarities__text--ident {
  margin-top: 0;
  margin-bottom: 0;
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work__img {
  position: relative;
}
.work__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.work__text--position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work__img {
  position: relative;
}
.work__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.work__text--position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__item {
  --card-item: 4;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__box {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__text--ident {
  margin-bottom: 16px;
}

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}
.client__item {
  --card-item: 6;
}
.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-footer);
}
.footer-mail {
  margin-left: auto;
  width: 570px;
}
.footer-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  height: 50px;
}
.footer-btn--ident {
  margin-left: 12px;
}

.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.address__link {
  color: rgba(255, 255, 255, 0.6);
}
.address__text {
  color: var(--background-heder);
  margin-top: 0;
  margin-bottom: 9px;
}

.address__item--ident {
  margin-bottom: 9px;
}
.address__item--ident:last-child {
  margin-bottom: 0;
}

.social-tooter {
  margin-bottom: 0;
  margin-left: 70px;
}
.social-tooter-link {
  fill: var(--background-heder);
  background: rgba(255, 255, 255, 0.1);
}

.mail__input {
  display: flex;
  align-items: center;
  outline: none;
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--background-footer);
  transition-property: filter;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mail__input:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.mail__group {
  display: flex;
}

.work-cards__link {
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.work-cards__link:hover, .work-cards__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.work-cards__link .overlay {
  position: relative;
  overflow: hidden;
}
.work-cards__link .overlay_text {
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.work-cards__link .overlay_box {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
}
.work-cards__link:hover .overlay__box, .work-cards__link:focus .overlay__box {
  transform: translatex(0);
}

.work-cards__item {
  background: var(--background-heder);
}

.work-cards__box {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 24px 20px;
}

.work-cards__text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}
.modal__text--ident {
  margin-bottom: 12px;
}
.modal-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover {
  fill: #2196f3;
}

.form__input {
  position: relative;
}
.form__input + .form__input {
  margin-top: 10px;
}

.form__link {
  color: #2196f3;
  padding-left: 10px;
}

.form-btn {
  text-align: center;
}
.form-btn--ident {
  margin-top: 30px;
}

.form__comit {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  appearance: none;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.form__checkbox--ident {
  margin-top: 20px;
}

.form__lable {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.form__lable:focus-within > .form__text {
  border: 1px solid #2196f3;
  outline: none;
}
.form__lable:focus-within > .form__icon {
  fill: #2196f3;
}

.form__feedback {
  display: block;
  height: 138px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.form__feedback:focus-within > .form__comit {
  border: 1px solid #2196f3;
  outline: none;
}

.form__icon {
  position: absolute;
  top: 11px;
  left: 14px;
  transform: translateY(100%);
  width: 18px;
  height: 18px;
}

.form__text {
  margin-top: 4px;
  height: 40px;
  width: 100%;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

input,
textarea {
  padding: 8px;
  font-family: inherit;
  font-size: inherit;
}

.checkbox {
  appearance: none;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  padding: 0;
}
.checkbox-icon {
  position: absolute;
  top: 4px;
  left: 12px;
  transform: translateX(0%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  fill: #fff;
  border: 1px solid #000;
  border-radius: 2px;
  transition-property: fill, border, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .checkbox-icon {
  fill: #2196f3;
  border: 1px solid #2196f3;
  background-color: #2196f3;
}

.btn-primary {
  color: var(--background-heder);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 10px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-primary:hover, .btn-primary:focus {
  background-color: var(--background-hover-button-ptimary);
  border-radius: 4px;
  border: 0;
  height: 50px;
  padding: 10px 32px;
}

.button__secondary {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0;
  height: 40px;
  padding: 6px 22px;
  transition-property: box-shadow, color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button__secondary:hover, .button__secondary:focus {
  color: var(--background-heder);
  background-color: var(--accent-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.button__secondary--ident + .button__secondary--ident {
  margin-left: 8px;
}

.link {
  color: var(--primary-text-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover, .link:focus, .link.current {
  display: flex;
  color: var(--accent-color);
}

.button__list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.button__item--ident {
  margin-right: 8px;
}
.button__item--ident:last-child {
  margin-right: 0;
}

.logo {
  display: inline-block;
  color: var(--title-text-color);
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo__text {
  color: var(--accent-color);
}
.logo--accent {
  color: var(--background-heder);
}

.header-logo--indent {
  margin-right: 94px;
}

.footer-logo--indent {
  margin-bottom: 20px;
  margin-right: 0;
}

.social__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
}

.social__link {
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  fill: #ffffff;
  background-color: #188ce8;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-title {
  color: var(--background-heder);
  max-width: 696px;
  text-align: center;
  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-title--ident {
  margin: 0 auto 30px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}
.section-title--ident {
  margin-bottom: 50px;
}

.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-title--ident {
  margin-bottom: 10px;
}

.work-cards__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work-cards__title--ident {
  margin-top: 0;
  margin-bottom: 4px;
}

.unimportant-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.unimportant-title--ident {
  margin-bottom: 10px;
}

.footer-title {
  color: var(--background-heder);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.footer-title--ident {
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */