.peculiarities {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desk {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &__item {
    --card-item: 1;
    @include tabl {
      --card-item: 2;
    }

    @include desk {
      --card-item: 4;
    }
  }

  &__img {
    width: 100%;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tabl {
      width: 354px;
    }

    @include desk {
      width: 270px;
    }
  }

  &__img--indent {
    margin-bottom: 30px;
  }

  &__text {
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    &--ident {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
