.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;

  @include desk {
    font-size: 36px;
    line-height: 1.17;
  }
  &--ident {
    margin-bottom: 50px;
  }
}

.team-title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  &--ident {
    margin-bottom: 10px;
  }
}

.work-cards__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  // width: 100%;
  letter-spacing: 0.06em;

  // @include tabl {
  //   max-width: 306px;
  // }

  // @include tabl {
  //   max-width: 306px;
  // }
  // @include desk {
  //   max-width: 322px;
  // }

  &--ident {
    margin-top: 0;
    margin-bottom: 4px;
  }
}

.unimportant-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  @include tabl {
    text-align: justify;
  }
  &--ident {
    margin-bottom: 10px;
  }
}

.footer-title {
  color: var(--background-heder);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  &--ident {
    margin-bottom: 20px;
    text-align: center;
    @include desk {
      text-align: justify;
    }
  }
}
