.hero-title {
  color: var(--background-heder);
  max-width: 696px;
  text-align: center;

  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  &--ident {
    margin: 0 auto 30px;
  }
}

.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;

  &--ident {
    margin-bottom: 50px;
  }
}

.team-title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  &--ident {
    margin-bottom: 10px;
  }
}

.work-cards__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  &--ident {
    margin-top: 0;
    margin-bottom: 4px;
  }
}

.unimportant-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  &--ident {
    margin-bottom: 10px;
  }
}

.footer-title {
  color: var(--background-heder);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  &--ident {
    margin-bottom: 20px;
  }
}
