/*  Синий цвет #2196F3 */
/*  Цвет золовка #FFFFFF */
/* Основной цвет текста #757575 */
/*  Вторичный цвет текста #212121 */
/*  Цвет адреса в Подвале rgba(255, 255, 255, 0.6) */
/* Цвет фона команда #F5F4FA */
/* фон героя и вутера #2F303A */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-hover-button-ptimary: #188ce8;
  --background-heder: #fff;
  --background-main: #e5e5e5;
  --background-footer: #2f303a;
  --logo-family: Ralewey, sans-serif;
  --card-gap: 30px;
  --card-item: 3;
}
